p {
    margin: 0;
}
hr {
    margin: 5px;
    color : darkcyan;
}
.post-table th{
    border-bottom: 2px solid black;
}
.post-table tr{
    border-bottom: 1px solid black;
}
.post-table th, .post-table td {
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}
.post-table td img {
    width : 100px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: darkcyan;
}

a:hover{
    color: darkblue;
}
